<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать категорию</title>
</head>
<body>
    <h1>Редактировать категорию</h1>
    <form action="/categories/<%= category._id %>/edit" method="POST">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" value="<%= category.name %>" required>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>

